@using WebApplication2.Models;
@model Slider
@{
    ViewBag.Title = "Slider_Duzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="page-header">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - <a href="~/Admin/Slider"><span class="font-weight-semibold">Slider Listesi</span></a> -  Slider Düzenle</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>


    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content pt-0">

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Slider İçeriği</h5>
        </div>

        <div class="card-body">
            <form action="~/Admin/Slider_Duzenle/@Model.Id" method="post" enctype="multipart/form-data"> 
                <fieldset class="mb-3">
                    <legend class="text-uppercase font-size-sm font-weight-bold border-bottom">Slider Resmi</legend>
                    <img src="~/Content/images/slider/@Model.Resim" class="img-fluid">

                    <legend class="text-uppercase font-size-sm font-weight-bold border-bottom">Slider Düzenle</legend>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Slider Resmi</label>
                        <div class="col-lg-10">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="resim" name="resim">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Slider Başlığı</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" value="@Model.Baslik" id="baslik" name="baslik">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Slider Açıklaması</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" value="@Model.Aciklama" id="aciklama" name="aciklama">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Slider Buton Yazısı</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" value="@Model.Button" id="btnyazi" name="btnyazi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Slider Linki</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" value="@Model.link" id="link" name="link">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">İçerik Konumu</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="konum" name="konum">
                                <option value="@Model.Konum" selected>@Model.Konum</option>
                                <optgroup>
                                    <option value="Center">Center</option>
                                    <option value="Left">Left</option>
                                    <option value="Right">Right</option>
                                </optgroup>


                            </select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-form-label col-lg-2">Sıralama</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="number" name="siralama" value="@Model.Siralama" id="siralama">
                        </div>
                    </div>


                    <div class="form-group">
                        <p class="font-weight-semibold">Durum</p>

                        <div class="border p-3 rounded">
                            <div class="custom-control custom-switch custom-control-inline">
                                @if (Model.Durum == true)
                                {
                                    <input type="checkbox" class="custom-control-input" id="sc_li_c" name="durum" checked >
                                }
                                else
                                {
                                    <input type="checkbox" class="custom-control-input" name="durum" id="sc_li_c">
                                }
                                <label class="custom-control-label" for="sc_li_c">Aktif / Pasif</label>
                            </div>


                        </div>
                    </div>


                    <div class="text-right">
                        <button type="submit" class="btn btn-success">Slider Düzenle <i class="icon-check ml-2"></i></button>
                    </div>
                </fieldset>



            </form>

        </div>
    </div>



</div>